<%- include('header',{title: 'Address Error'}) %> <%- include('adminNavbar') %>
<div class="container">
  <div class="row my-4">
    <div class="col text-center">
      <h1>Invalid Zipcode</h1>
    </div>
  </div>
  <div class="row my-3 justify-content-center">
    <div class="col-11 col-lg-8 contentBox p-4">
      <h4>Please enter a valid delivery zipcode.</h4>
      <a href="#" onclick="history.go(-1)" class="btn btn-secondary"
        >Click here to go back</a
      >
    </div>
  </div>
</div>
<%- include('footer') %>
